@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);
body {
  font-family: "Roboto", sans-serif;
  background: #C9CCD5;
  min-height: 100vh;
  position: relative;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 62px 5px 5px 5px;
    width: calc(100vw - 10px);
    min-height: calc(100vh - 67px);
    background: white;
    border-radius: 10px;
}

#profile-container {
    width: 348px;
    margin-top: 5px;
}

#new-contact-container{
    width: 348px;
    margin-top: 20px;
}

#request, #pending{
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
}

.emergencyContacts span.value { 
    display:none;
}

.dropdown-menu a span.value { 
    display:none;
}